@model IEnumerable<DataTransferObject.Fault.FaultDTO>

<table class="table table-bordered table-hover table-striped" id="tblFault">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.faultName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.faultName)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                    <a href="javascript:void(0);" title="Edit Fault" onclick="Fault.initUpdateFault(@item.id);">Edit</a> |
                    <a href="javascript:void(0);" title="Delete Fault" onclick="Fault.initDeleteFault(@item.id);">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblFault').DataTable({
            aaSorting: []
        });
    });
</script>

